/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 100vh;

    
}


.main-card{
   
    display: flex;
   
    width: 28vh;
   

}

.card{
   
    background-color: hsl(31, 77%, 52%);

    height: 50vh;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px; 
    
}

.card2{
    
    background-color: hsl(184, 100%, 22%);

    height: 50vh;
   

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px; 
}

.card3{
    
    background-color: hsl(179, 100%, 13%);

    height: 50vh;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px; 
}

.car-type{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);

    
    
}

.learn{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    
    color: hsl(31, 77%, 52%);
}
.learn:hover{
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
    background-color:hsl(31, 77%, 52%) ;
    color: hsl(0, 0%, 95%);
}

.learn2{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    
    color: hsl(184, 100%, 22%);
}

.learn2:hover{
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
    background-color:hsl(184, 100%, 22%) ;
    color: hsl(0, 0%, 95%);
}


.learn3{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    
    color: hsl(179, 100%, 13%);
}

.learn3:hover{
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 375px){
    .main-section{
       
        flex-direction: column;
        height: 50%;
        
    }
    .main-card{
        width: 85vw;
        
    }
}